DATABASE_URL=mysql://root:12345@localhost/das
#DATABASE_URL=sqlite:///schemes.db
DEBUG=True
FRONTEND_ROOT=./front
SECRET_KEY=''
DAS_SERVER_PATH=/opt/das/
UPDATE_ACCEPTED_LIST=/opt/das/web/update_accepred.list
